:host {
    height: 100%;
}

.data {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    outline:  none;
}

.comment {
    white-space: pre-wrap;
    text-align: left !important;
}