@if(showMenu()) {
<div
  [style.backgroundColor]="data().color ?? '#106d20'"
  [style.color]="data().state === 'TEMPLATE' ? 'white' : 'black'"
  (click)="triggerAction('goto')"
  [title]="data().comment ?? ''"
  class="data"
  [class.has-comment]="data().comment"
  [cdkContextMenuTriggerFor]="dayMenu"
>
  <span class="text"> {{ data().eventName }} {{ data().info }} </span>
  <span
    class="comment"
    [class.show-comment]="data().comment"
  ></span>
</div>
<ng-template #dayMenu>
  <div class="context-menu" cdkMenu>
    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('remove')"
    >
      Usuń
    </button>
    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('duplicate')"
    >
      Duplikuj
    </button>
    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('changeWorker')"
    >
      Zmień pracownika
    </button>
    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('comment')"
    >
      Komentarz
    </button>
  </div>
</ng-template>
} @else {
<div
  [style.backgroundColor]="data().color ?? '#106d20'"
  [style.color]="data().state === 'TEMPLATE' ? 'white' : 'black'"
  (click)="triggerAction('goto')"
  class="data"
>
  <span class="text"> {{ data().eventName }} {{ data().info }} </span>
</div>
}
