@if(showMenu()) {
<div
  [style.backgroundColor]="data().color ?? '#106d20'"
  [style.color]="data().state === 'TEMPLATE' ? 'white' : 'black'"
  (click)="triggerAction('goto')"
  [matTooltip]="data().comment ?? ''"
  matTooltipClass="comment"
  class="data"
  [cdkContextMenuTriggerFor]="dayMenu"
  [matBadge]="data().comment ? '@' : null"
  matBadgeSize="small"
>
  {{ data().eventName }} {{ data().info }}
</div>
<ng-template #dayMenu>
  <div class="context-menu" cdkMenu>
    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('remove')"
    >
      Usuń
    </button>
    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('duplicate')"
    >
      Duplikuj
    </button>
    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('changeWorker')"
    >
      Zmień pracownika
    </button>
    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('comment')"
    >
      Komentarz
    </button>
  </div>
</ng-template>
} @else {
<div
  [style.backgroundColor]="data().color ?? '#106d20'"
  [style.color]="data().state === 'TEMPLATE' ? 'white' : 'black'"
  (click)="triggerAction('goto')"
  class="data"
>
  {{ data().eventName }} {{ data().info }}
</div>
}
