:host {
    height: 100%;
}

.data {
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    outline:  none;
}

.comment {
    display: none;
    align-self:flex-start;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 0px solid transparent;
    border-top: 8px solid red;
}

.text {
    padding: 0.2rem;
}

.show-comment {
    display: grid;
}

.has-comment {
    grid-template-columns: 1fr auto;
}