.form-base, .form-base-content {
    box-sizing: border-box;
    height: 100%;
}

.form-base { 
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
}

.form-base-content {
    overflow: auto;
    scrollbar-width: thin;
}