.mat-column-total {
    font-weight: bold;
}

.mat-column-addons {
    white-space: pre-wrap;
}

.summary,
.legend {
    border-top: 1px solid var(--sys-outline);
}

:host {
    display: block;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
}


.CHIEF {
    color: red;
}

.TEMPLATE {
    color: blue;
}

.COORDINATOR {
    color: darkorange;
}

.APPROVED {
    color: inherit;
}

.legend {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}