<app-loader [loading]="loading()" />

<section class="main-section">
  <header class="header">
    <button mat-icon-button routerLink="{{ backTo }}">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>
      {{ eventInfo().number }} - {{ eventInfo().name }}
      @if (dayInfo().length > 0) {
      <span>[ {{ dayInfo() }} ]</span>
      } -
      <span [class]="stateCls">{{ dayStatus() }}</span>
    </h2>
  </header>
  <div class="actions">
    <div class="action-buttons">
      <button mat-flat-button (click)="addDay()" title="alt+a">
        <mat-icon>add</mat-icon>Dodaj Dzień
      </button>

      <button
        mat-flat-button
        (click)="delDay()"
        title="alt-x"
        [disabled]="eventDays().length === 0"
        class="delete-button"
      >
        <mat-icon>delete</mat-icon>Usuń Dzień
      </button>

      <button
        mat-flat-button
        (click)="changeStatus()"
        [disabled]="eventDays().length === 0"
      >
        <mat-icon>content_copy</mat-icon>Zmień status
      </button>

      <button
        mat-flat-button
        (click)="changeInfo()"
        [disabled]="eventDays().length === 0"
      >
        <mat-icon>description</mat-icon>Zmień opis
      </button>
      <mat-divider vertical="true" />
    </div>

    <div class="action-buttons">
      <button
        mat-flat-button
        (click)="addWorkers()"
        [disabled]="eventDays().length === 0"
      >
        <mat-icon>person_add</mat-icon>Dodaj
      </button>

      <button
        mat-flat-button
        (click)="duplicateDay()"
        [disabled]="selection.isEmpty()"
      >
        <mat-icon>content_copy</mat-icon>Duplikuj
      </button>

      <button
        mat-flat-button
        [disabled]="selection.isEmpty()"
        (click)="editTime()"
      >
        <mat-icon>schedule</mat-icon>Godziny
      </button>

      <button
        mat-flat-button
        [disabled]="selection.isEmpty()"
        (click)="editRatesAndAddons()"
      >
        <mat-icon>money</mat-icon>Stawki/Dodatki
      </button>

      <button
        mat-flat-button
        [disabled]="isMultipleSelected"
        (click)="changeWorker()"
      >
        <mat-icon>change_circle</mat-icon>Zmień Pracownika
      </button>

      <button
        mat-flat-button
        [disabled]="selection.isEmpty()"
        (click)="removeWorkersDays()"
        class="delete-button"
      >
        <mat-icon>person_remove</mat-icon>Usuń
      </button>
    </div>
  </div>
  <mat-divider />
  <mat-tab-group
    [(selectedIndex)]="tabIdx"
    (selectedTabChange)="tabChange($event)"
    (animationDone)="setTab()"
  >
    @for (day of eventDays(); track day.startDate) {
    <mat-tab label="{{ day.startDate | date : 'dd/MM/YYYY' }}">
      <app-worker-day
        [day]="day"
        [selection]="selection"
        [tableColumns]="tableColumns"
        [coordinatorId]="eventInfo().coordinatorId ?? 0"
      />
    </mat-tab>
    } @empty {
    <h2>Nic tu jeszcze nie ma</h2>
    }
  </mat-tab-group>
</section>
