.main-section {
    display: flex;
    gap: 0.1rem;
    padding: 0 1rem 1rem 1rem;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h2.event-name {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    margin: 0;
    font-size: 0.9rem;
}

mat-tab-group {
    height: 100%;
    overflow: auto;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0.5rem;
}

.actions,
.action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.actions {
    padding-bottom: 1rem;
}

:host {
    display: block;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 900px) {
    h2.event-name {
            font-size: 1.2rem;
        }
}