<app-main-nav>
   <app-menu-action href="/account-manager/work-schedule" icon="perm_contact_calendar"
        >Grafik</app-menu-action
      >
      <app-menu-action href="/account-manager/calendar" icon="calendar_month"
        >Kalendarz</app-menu-action
      >

       <mat-divider></mat-divider>

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Raporty</mat-panel-title>
          </mat-expansion-panel-header>
          <app-menu-action href="/account-manager/reports/event" icon="docs"
            >Imprezy</app-menu-action
          >
          <app-menu-action href="/account-manager/reports/workers" icon="docs"
            >Miesięczny</app-menu-action
          >
          <app-menu-action href="/account-manager/reports/from-dates" icon="docs"
            >Z zakresu</app-menu-action
          >
          <app-menu-action href="/account-manager/reports/plan-execution" icon="docs"
            >Plan/Realizacja</app-menu-action
          >
        </mat-expansion-panel>
      </mat-accordion>
</app-main-nav>