<h2 mat-dialog-title>{{ data.header }}</h2>
<mat-dialog-content class="progress">
    <mat-list>
      @for (name of fileNames(); track $index) {
      <mat-list-item>{{ name }}</mat-list-item>
      }
    </mat-list>
    <div class="status">
      <mat-progress-bar mode="determinate" [value]="progress()" />
      @if (sending()) {
      <mat-icon (click)="cancelSend()">cancel</mat-icon>
      } @else {
      <mat-icon>check_circle</mat-icon>
      }
    </div>
    @if (error()) {
    <div style="color: red">{{ error() }}</div>
    }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" [disabled]="sending()">
    Zamknij
  </button>
</mat-dialog-actions>
