.progress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

.status {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}