<app-form-base
  [backTo]="backTo"
  [queryParams]="{ tab: tab }"
  [formTitle]="formTitle"
  formIdName="change-rate-form"
  [canSend]="canSend()"
>
  <form
    [formGroup]="changeRateForm"
    class="form"
    id="change-rate-form"
    (submit)="handleSubmit()"
  >
    <mat-card appearance="outlined">
      <mat-card-header class="card-header-action">
        <h3>Pracownicy</h3>
      </mat-card-header>
      <mat-card-content class="form-gorup-row">
        <div class="worker-list" formArrayName="workers">
          <mat-checkbox
            [checked]="isSelectedAll()"
            [indeterminate]="workerSelection.hasValue() && !isSelectedAll()"
            (change)="$event ? toggleAllRows() : null"
          >
            Wszyscy
          </mat-checkbox>
          <mat-divider />
          @for (worker of workers.controls; track $index) {
          <div class="field">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? workerSelection.toggle(worker) : null"
              [checked]="workerSelection.isSelected(worker)"
            >
            </mat-checkbox>
            <mat-form-field appearance="outline">
              <mat-label>Pracownik</mat-label>
              <input
                matInput
                type="text"
                readonly
                [value]="worker.value.workerName"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Stawka</mat-label>
              <mat-select [formControl]="$any(worker).get('rate')">
                @for (rate of rates() | workerRates: worker.value.rates; track
                rate.id) {
                <mat-option [value]="rate.id">{{ rate.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-chip-listbox>
              @for (addon of worker.get("workerDayAddons")?.value; track
              addon.addon) {
              <mat-chip-option (removed)="removeWorkerAddon(worker, $index)" [selectable]="false">
                {{ addon.name }}
                @if (getAddonType(addon.addon) === "VARIABLE_ADDON" && showAmount) { -
                  {{showAmount}}
                {{ addon.value }}
                }
                <button
                  matChipRemove
                  aria-label="'remove reactive form' + keyword"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-option>
              }
            </mat-chip-listbox>
          </div>
          <mat-divider />
          } @empty { Brak pracowników }
        </div>
      </mat-card-content>
    </mat-card>
    <app-worker-day-addons
      [addons]="addons()"
      [workerSelection]="workerSelection"
      (update)="addonsChanged()"
    />
  </form>
</app-form-base>
