<app-loader [loading]="loading()" />

<section class="worker-details-section">
  <app-action-toolbar title="Dane Pracownika" />

  <mat-tab-group [selectedIndex]="tabIndex">
    <mat-tab label="Dane Personalne">
      @defer () {
      <div class="worker-data">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Dane Personalne</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="label">Imię: </span>
              <span>{{ worker().firstName }} </span>
              @if (worker().secondName) {
              <span class="label">Drugie Imię: </span>
              <span>{{ worker().secondName }} </span>
              }
            </p>
            <p>
              <span class="label">Nazwisko: </span>
              <span>{{ worker().lastName }} </span>
            </p>
            <p>
              <span class="label">Matka: </span>
              <span>{{ worker().mother }} </span>
            </p>
            <p>
              <span class="label">Ojciec: </span>
              <span>{{ worker().father }} </span>
            </p>
            <p>
              <span class="label">Ksywa:</span>
              <span>{{ worker().nickname ?? "" }} </span>
            </p>
            <p>
              <span class="label" [style.color]="worker().color"
                >Kolor Kierownika
              </span>
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Dane Kontaktowe</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="label">Telefon: </span>
              <span
                ><a class="url" href="tel:{{ worker().phone }}">{{
                  worker().phone
                }}</a></span
              >
            </p>
            <p>
              <span class="label">Telefon Alarmowy: </span>
              <span
                ><a class="url" href="tel:{{ worker().phoneIce }}">{{
                  worker().phoneIce
                }}</a></span
              >
            </p>
            <p>
              <span class="label">Email:</span>
              <span
                ><a
                  class="url"
                  target="_blank"
                  href="mailto://{{ worker().email }}"
                  >{{ worker().email }}</a
                ></span
              >
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Dane Dokumentu</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <span class="label">Pesel: </span>
              <span>{{ worker().pesel }}</span>
            </p>
            <p>
              <span class="label">Numer i Seria Dowodu: </span>
              <span>{{ worker().docNumber }}</span>
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <p>
              <span class="label">Konto w aplikacji: </span>
              <span> @if (worker().hasAccount) { Tak } @else { Nie } </span>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      }
    </mat-tab>

    <mat-tab label="Dokumenty">
     
    </mat-tab>

    <mat-tab label="Auta">
      
    </mat-tab>

    <mat-tab label="Stawki">
      
    </mat-tab>

    <mat-tab label="Dodatki">
      
    </mat-tab>
  </mat-tab-group>
</section>
