<app-loader [loading]="dataSource.loading()" />

<div class="side-content">
  @if(search()) {
  <app-search
    (searchRequest)="searchQuery($event)"
    (resetSearch)="resetSearch()"
    [filters]="filters()"
  />
  }
  <div class="mat-elevation-z8 table-wrapper">
    <table mat-table aria-label="Elements">
      @for (col of tableColumns(); track col.def) {
      <ng-container matColumnDef="{{ col.def }}">
        <th mat-header-cell *matHeaderCellDef>{{ col.name }}</th>
        <td mat-cell *matCellDef="let row">{{ row[col.def] }}</td>
      </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnNames"
        (click)="onClick(row)"
      ></tr>
    </table>
    <mat-paginator
      #paginator
      [length]="dataSource.count"
      [pageIndex]="0"
      [pageSizeOptions]="[15, 30, 45]"
      pageSize="15"
      aria-label="Wybierz Stronę"
    >
    </mat-paginator>
  </div>
  <app-add-button url="{{ actionsUrl() }}/add" />
</div>
