.actions, .action-buttons {
    display: flex;
    gap: 1rem;
    padding: 0.1rem;
}

.actions {
    flex-wrap: wrap;
}

.schedule {
    display: grid;
    height: 100%;
    width: 100%;
    scrollbar-width: thin;
    position: relative;
    overflow: auto;
    font-size: 0.7rem;
}

.col,
.empty {
    display: grid;
    align-items: center;
    border-collapse: collapse;
    border: 1px solid var(--mat-divider-color);
}
.col {
    cursor: pointer;
}

.data, .header {
    padding: 0.5rem;
}

.header {
    font-weight: bold;
    text-align: center;
}

.header, .nowrap {
    text-wrap: nowrap;
}

.row:first-child {
    position: sticky;
    left: 0;
}

.sticky-row, .sticky-col {
    position: sticky;
    background-color: var(--mat-app-background-color, var(--mat-app-background));
    color: var(--mat-app-text-color, var(--mat-app-on-background));
}

.sticky-row {
    top:0;
}

.sticky-col {
    left: 0;
}

#month.mat-mdc-form-field {
    max-width: 9rem;
}

#year.mat-mdc-form-field {
    max-width: 6rem !important;
}

@media only screen and (min-width: 960px) {
    .schedule {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1280px) {
    .schedule {
        font-size: 1.0rem;
    }
}