<app-loader [loading]="loading()" />
@if (admin()) {
<app-date-changer-range
  (dateChanged)="dateRangeChange($event)"
  [showRefresh]="true"
  (refresh)="reloadData()"
/>
} @else {
<app-date-changer
  (dateChanged)="dateChange($event)"
  [showRefresh]="true"
  (refresh)="reloadData()"
/>
}
<div
  class="mat-elevation-z8 schedule"
  [style.gridTemplateColumns]="cssCols"
  id="schedule"
>
  <div class="col sticky-row sticky-col" style="z-index: 10">
    <div class="header">N</div>
  </div>
  <div class="col sticky-row col-name" style="z-index: 10">
    <div class="header">Imię Nazwisko</div>
  </div>
  @for (day of days; track day.date) {
  <div class="col sticky-row">
    <div class="header" [id]="day.date">
      {{ day.date | date : "EE dd/MM" }}
    </div>
  </div>
  } @for (row of schedules().workerSchedules; track row.workerName) {
  <div class="col sticky-col">
    <div class="number">{{ $index + 1 }}</div>
  </div>
  <div class="col col-name">
    <div
      class="name nowrap"
      [style.backgroundColor]="row.color"
      [style.color]="row.color ? 'black' : 'inherit'"
      (click)="goToWorker(row.id)"
    >
      {{ row.workerName }}
    </div>
  </div>
  @for (day of days; track day.date) { @if(row.days[day.date]) {
  <div class="col">
    @for (item of row.days[day.date]; track checkDayOff(item)) { @if
    (item.dayOff) {
    <app-day-off
      [data]="{ id: item.id }"
      [accepted]="item.accepted"
      [showMenu]="admin()"
      (actionTrigger)="dayOffAction($event)"
    />
    } @else {
    <app-event-day
      [showMenu]="admin()"
      [data]="item"
      (actionTrigger)="eventDayAction($event)"
    />
    } }
  </div>
  } @else {
  <app-empty-day
    [showMenu]="admin()"
    [data]="{ data: day, worker: row }"
    (actionTrigger)="emptyDayAction($event)"
  />
  } } }
  <div class="end" [style.gridColumnEnd]="cssCols" #end></div>
</div>
@if (showZoom()) {
<app-zoom-actions
  (zoom)="handleZoom($event)"
  [disableIn]="fontSize() >= 2"
  [disableOut]="fontSize() <= 0.3"
/>
}
