<app-loader [loading]="loading()" />

<section class="side-content">
  <div class="actions">
    <div class="action-buttons">
      <button mat-icon-button (click)="prevMonth()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      <button mat-icon-button (click)="nextMonth()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <mat-divider vertical="true" />
      {{ currentDate | date : "dd/MM/YYYY" }}
    </div>
  </div>
  <div class="mat-elevation-z8 schedule" [style.gridTemplateColumns]="cssCols">
    <div class="col sticky-row sticky-col" style="z-index: 10;">Imię Nazwisko</div>
    @for (day of days; track day.day) {
    <div class="col sticky-row">{{ day.date | date : "EE dd/MM" }}</div>
    } @for (row of rows; track row.workerName) {
    <div class="col sticky-col">{{ row.workerName }}</div>
    @for (day of days; track day.day) { 
        @if(row.days[day.day]) {
            @for (item of row.days[day.day]; track $index) {
    <div class="col" [style.backgroundColor]="item.color" (click)="onClick(item)">{{ item.eventName }}</div>
        }
    } @else {
        <div class="empty"></div>
    }
    } }
  </div>
  <button mat-button>Załaduj wiecej</button>
</section>
