<h2 mat-dialog-title>Dodaj Dzień</h2>
<mat-dialog-content>
  <form [formGroup]="changeTimeForm" class="form" id="change-time-form">
    <app-work-time
      [startTime]="changeTimeForm.controls.startTime"
      [endTime]="changeTimeForm.controls.endTime"
    />
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button cdkFocusInitial [mat-dialog-close]="false" type="button">
    Anuluj
  </button>
  <button
    mat-button
    [mat-dialog-close]="changeTimeForm.value"
    [disabled]="!changeTimeForm.valid || !changeTimeForm.dirty"
    type="button"
  >
    Ok
  </button>
</mat-dialog-actions>
