@if (dataSource.loading()) {
<div class="loader">
  <mat-spinner></mat-spinner>
</div>
}

<div
  class="side-content"
>
  <app-search
    (searchRequest)="searchQuery($event)"
    (resetSearch)="resetSearch()"
  />

  <div class="mat-elevation-z8 worker-table-wrapper">
    <table mat-table matSort aria-label="Elements">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Imię</th>
        <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Nazwisko</th>
        <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (dblclick)="onDbClick(row)"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="dataSource.count"
      [pageIndex]="0"
      [pageSizeOptions]="[15, 30, 45]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <div class="add-button">
    <button mat-fab aria-label="Dodaj" routerLink="/workers/add">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
