
<app-form-base
  [backTo]="backTo"
  [queryParams]="{tab:tab}"
  [formTitle]="formTitle"
  formIdName="change-rate-form"
  [canSend]="canSend()"
>
  <form
    [formGroup]="changeRateForm"
    class="form"
    id="change-rate-form"
    (submit)="handleSubmit()"
  >
    <mat-card appearance="outlined">
      <mat-card-header class="card-header-action">
        <h3>Pracownicy</h3>
      </mat-card-header>
      <mat-card-content class="form-gorup-row">
        <div class="worker-list" formArrayName="workers">
          @for (worker of workers.controls; track $index) {
          <div class="field">
            <mat-form-field appearance="outline">
              <mat-label>Pracownik</mat-label>
              <input
                matInput
                type="text"
                readonly
                [value]="worker.value.name"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Stawka</mat-label>
              <mat-select [formControl]="$any(worker).get('rate')">
                @for (rate of rates() | workerRates: worker.value.rates; track
                rate.id) {
                <mat-option [value]="rate.id">{{ rate.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-chip-listbox>
                @for (addon of worker.get("workerDayAddons")?.value; track addon.addon) {
                <mat-chip-option (removed)="removeWorkerAddon(worker, $index)">
                  {{ addon.name }}
                  @if (addon.type === "VARIABLE_ADDON") { -
                  {{ addon.value }}
                  }
                  <button matChipRemove aria-label="'remove reactive form' + keyword">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-option>
                }
              </mat-chip-listbox>
          </div>
          } @empty { Dodaj pracowników }
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header class="addons-header">
        <mat-card-title>Dodatki</mat-card-title>
        <mat-card-subtitle
          >Jeżeli pracownik nie ma przypisanej wartości dodatku zostanie on
          pominięty.</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content class="addons">
        <mat-chip-listbox>
          @for (addon of workerDayAddons; track addon.value.addon) {
          <mat-chip-option (removed)="removeAddon($index)">
            {{ addon.value.name }}
            @if (addon.value.type === "VARIABLE_ADDON") { -
            {{ addon.value.value }}
            }
            <button matChipRemove aria-label="'remove reactive form' + keyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-option>
          }
        </mat-chip-listbox>
        <div class="field">
          <mat-form-field appearance="outline">
            <mat-label>Dodatki</mat-label>
            <mat-select [formControl]="addonGroup.controls.id">
              @for (addon of addons(); track addon.id) {
              <mat-option [value]="addon.id">
                {{ addon.name }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Wartość</mat-label>
            <input
              matInput
              type="number"
              [formControl]="addonGroup.controls.value"
            />
          </mat-form-field>

          <button mat-fab extended type="button" (click)="addAddon()">
            <mat-icon>add</mat-icon>
            Dodaj
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</app-form-base>
