<div class="item-list">
  <a mat-fab extended routerLink="/admin/workers/{{ workerId() }}/rates/add">
    <mat-icon>add</mat-icon>
    Przypisz Stawkę
  </a>
  <div class="expand-actions">
    <button mat-button (click)="accordion().openAll()">Rozwiń wszystko</button>
    <button mat-button (click)="accordion().closeAll()">Zwiń wszystko</button>
  </div>
  <mat-accordion multi>
    @for (rate of workerRates(); track rate.id) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>{{ rate.name }}</mat-expansion-panel-header>

      <mat-list>
        @if (rate.rateType === "CONSTANT_RATE" || rate.rateType ===
        "BASE_OVERTIME_RATE") {
        <mat-list-item>
          <span> Stawka podstawowa: </span>
          <span>{{ rate.value }} zł</span>
        </mat-list-item>
        } @if (rate.rateType === "HOUR_RATE" || rate.rateType ===
        "BASE_OVERTIME_RATE") {
        <mat-list-item>
          <span> Stawka za nadgodzinę: </span>
          <span>{{ rate.perHourOvertimeValue }} zł</span>
        </mat-list-item>
        } @if (rate.rateType === "HOUR_RATE") {
        <mat-list-item>
          <span> Stawka za godzinę: </span>
          <span>{{ rate.perHourValue }} zł</span>
        </mat-list-item>
        }
        <mat-list-item>
          <button
            mat-button
            routerLink="/admin/workers/{{ workerId() }}/rates/{{ rate.id }}"
          >
            Edytuj
          </button>
          <button
            mat-button
            class="tertiary-button"
            (click)="removeRateValue(rate.id)"
          >
            Usuń
          </button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    } @empty {
    <mat-card appearance="outlined">
      <mat-card-content>
        <h4>Brak Przypisanych Stawek</h4>
      </mat-card-content>
    </mat-card>
    }
  </mat-accordion>
</div>
