<mat-card appearance="outlined" class="rates">
  <mat-card-header>
    <a mat-fab extended routerLink="/admin/workers/{{ workerId() }}/rates/add">
      <mat-icon>add</mat-icon>
      Przypisz Stawkę
    </a>
  </mat-card-header>
  <mat-card-content class="rate-list mat-elevation-z8">
    <section class="rate-item">
      <div>
        <strong>Podstawa:</strong>
        {{ basicPay().value }} zł
      </div>
      <div></div>
      <div class="rate-actions">
        <button
          mat-button
          routerLink="/admin/workers/{{ workerId() }}/basic"
          [queryParams]="{ value: basicPay().value }"
        >
          Edytuj
        </button>
      </div>
    </section>
    <mat-divider />
    @for (rate of workerRates(); track rate.id) {
    <section class="rate-item">
      <h4>{{ rate.rateName }}</h4>
      <div class="rate-value">
        @if (ratesWithBase.includes(rate.rateType)) {
        <div>Stawka podstawowa: {{ rate.value }} zł</div>
        } @if (rate.rateType === "HOUR_RATE" || rate.rateType ===
        "BASE_OVERTIME_RATE") {
        <div>
          <span>Stawka za nadgodzinę: {{ rate.perHourOvertimeValue }} zł</span>
        </div>
        } @if (rate.rateType === "HOUR_RATE") {
        <div>
          <span> Stawka za godzinę: {{ rate.perHourValue }} zł</span>
        </div>
        } @if (rate.rateType === "BASE_OVERTIME_ADDON") {
        <div>
          <span> Dodatek: {{ rate.overtimeAddonValue }} zł</span>
        </div>
        }
      </div>
      <div class="rate-actions">
        <button
          mat-button
          routerLink="/admin/workers/{{ workerId() }}/rates/{{ rate.id }}"
        >
          Edytuj
        </button>
        <button
          mat-button
          class="tertiary-button"
          (click)="removeRateValue(rate.id)"
        >
          Usuń
        </button>
      </div>
    </section>
    <mat-divider />
    } @empty {
    <h4>Brak Przypisanych Stawek</h4>
    }
  </mat-card-content>
</mat-card>
