.login-wrapper {
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

 .login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-header {
    justify-content: center;
}

.mat-mdc-card-header {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.mat-mdc-card-content {
    padding: 0 3rem 3rem 3rem;
}