<h2 mat-dialog-title>Zmień hasło</h2>
<mat-dialog-content>
  <div>Po zmianie hasła zostaniesz wylogowany.</div>
  <form [formGroup]="changePasswordGroup" class="form">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Hasło"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Powtórz hasło</mat-label>
        <input
          matInput
          type="password"
          formControlName="password2"
          placeholder="Hasło"
        />
        <mat-error>{{
          changePasswordGroup.controls.password2.getError("matchError")
        }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="passwordChanged">Anuluj</button>
  <button
    mat-button
    [mat-dialog-close]="passwordChanged"
    (click)="save()"
    [disabled]="!changePasswordGroup.valid || !changePasswordGroup.dirty"
  >
    Zapisz
  </button>
</mat-dialog-actions>
