<section class="worker-form-section">
  <header class="worker-form-header">
    <button mat-icon-button routerLink="/workers">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>{{ formTitle }}</h2>
    <button
      mat-flat-button
      type="submit"
      form="worker-form"
    >
      Zapisz
    </button>
  </header>
  <mat-divider></mat-divider>
  <form [formGroup]="workerFrom" class="worker-form" id="worker-form" (submit)="handleSubmit()">
    <div class="worker-form-group">
      <mat-form-field appearance="outline">
        <mat-label>Imię</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstName"
          placeholder="Imię"
          minlength="3"
          required
          autocomplete="given-name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nazwisko</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastName"
          placeholder="Nazwisko"
          minlength="3"
          required
          autocomplete="family-name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telefon</mat-label>
        <input
          matInput
          type="phone"
          formControlName="phone"
          placeholder="Telefon"
          minlength="9"
          required
          autocomplete="tel"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="email"
          required
          autocomplete="email"
        />
      </mat-form-field>
    </div>

    <mat-divider />

    <div class="worker-form-group">
      <mat-form-field appearance="outline">
        <mat-label>Ksywa</mat-label>
        <input
          matInput
          type="text"
          formControlName="nickname"
          placeholder="Ksywa"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kolor</mat-label>
        <input
          matInput
          type="color"
          formControlName="color"
          placeholder="Kolor"
          minlength="8"
        />
      </mat-form-field>
    </div>

    <mat-divider />

    <div class="worker-form-group">
      <mat-form-field appearance="outline">
        <mat-label>Ekipa</mat-label>
        <mat-select formControlName="team" name="team" required>
          @for (team of hints.teams; track team) {
          <mat-option [value]="team.id">{{ team.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Grupa</mat-label>
        <mat-select formControlName="group" name="group" required>
          @for (group of hints.groups; track group) {
          <mat-option [value]="group.id">{{ group.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider />

    <div class="worker-form-group">
      <mat-slide-toggle formControlName="createAccount"
        >Konto w aplikacji</mat-slide-toggle
      >
    </div>

    @if (workerFrom.controls.createAccount.value) {
    <div class="worker-form-group">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          placeholder="Login"
          required
        />
      </mat-form-field>
    </div>

    <div class="worker-form-group">
      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Hasło"
          minlength="8"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Powtórz hasło</mat-label>
        <input
          matInput
          type="password"
          formControlName="password2"
          placeholder="Hasło"
          minlength="8"
          required
        />
      </mat-form-field>
    </div>
    <div class="worker-form-group">
      <mat-form-field appearance="outline">
        <mat-label>Rodzaj kąta</mat-label>
        <mat-select formControlName="authority" name="team">
          @for (authority of hints.authorities; track authority) {
          <mat-option [value]="authority">{{ authority }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    }
  </form>
</section>
