<section class="worker-form-section">
  <header class="worker-form-header">
    <button mat-icon-button routerLink="/workers">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>{{ formTitle }}</h2>
  </header>
  <mat-divider></mat-divider>
  <form [formGroup]="workerFrom">
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Imię</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstName"
          placeholder="Imię"
          minlength="3"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nazwisko</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastName"
          placeholder="Nazwisko"
          minlength="3"
          required
        />
      </mat-form-field>
    </div>
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Telefon</mat-label>
        <input
          matInput
          type="phone"
          formControlName="phone"
          placeholder="Telefon"
          minlength="9"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="email"
          required
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <button
        mat-flat-button
        color="primary"
        disabled="! workerFrom.valid | async"
      >
        Zapisz
      </button>
    </div>
  </form>
</section>
