.event {
    padding: 0.3rem;
    font-size: 0.6rem;
    word-break: break-all;
    border-radius: 0.4rem;
}

@media only screen and (min-width: 960px) {
    .event {
        font-size: 0.8rem;
    }

}

.context-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: var(--mat-sys-on-background);
    padding: 6px 0;
}

.context-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: var(--mat-sys-background);

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.context-menu-item:hover {
    background-color: rgb(208, 208, 208);
}

.context-menu-item:active {
    background-color: rgb(170, 170, 170);
}