:host {
    display: grid;
    grid-template-columns: repeat(7, minmax(7rem, auto));
    position: relative;
    width: 100%;
    background-color: var(--mat-sys-surface);
    scroll-snap-align: start;
}

.month-header {
    display: flex;
    grid-column: 1/8;
    justify-content: center;
}

.month {
    width: 100%;
    text-align: center;
}

.header,
.day {
    display: grid;
    border-collapse: collapse;
    padding: 0.2em;
}

.header {
    padding: 0.5em;
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
}

.day {
    display: flex;
    flex-direction: column;
    min-height: 15dvh;
    min-width: 3em;
    overflow: hidden;
    border-collapse: collapse;
    border: 1px solid var(--mat-sys-outline-variant);
}

.day-head {
    font-weight: bold;
    text-align: center;
    padding: 0.1em;
    font-size: 0.8em;
}

@media only screen and (min-width: 960px) {
    .day-head {
        font-size: 1em;
    }
}

@media only screen and (max-width: 512px) and (orientation: portrait) {
    .month-header {
        justify-content: flex-start;
    }
    
    .month {
        width: calc(100vw - 2em);
    }
}