@if (showMenu()) {
<div
  [style.backgroundColor]="data().color ?? '#106d20'"
  [style.color]="getTextColor(data().color ?? '#106d20')"
  (click)="triggerAction('showDay', $event)"
  class="data"
  [class.selected]="selected()"
  [cdkContextMenuTriggerFor]="dayMenu"
>
  {{ data().info }}
</div>
<ng-template #dayMenu>
  <div class="context-menu" cdkMenu>
    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('addDay')"
    >
      Dodaj
    </button>

    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('remove')"
    >
      Usuń
    </button>

    @if(!isMultipleSelected()) {

    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('editDay')"
    >
      Edytuj
    </button>

    <button
      class="context-menu-item"
      cdkMenuItem
      (click)="triggerAction('duplicate')"
    >
      Duplikuj
    </button>
    }
  </div>
</ng-template>
} @else {
<div
  [style.backgroundColor]="data().color ?? '#106d20'"
  [style.color]="getTextColor(data().color ?? '#106d20')"
  class="data"
  [class.selected]="selected()"
>
  {{ data().info }}
</div>
}
