<app-main-nav>
  <app-menu-action href="/worker/calendar" icon="calendar_month"
    >Kalendarz</app-menu-action
  >

  <app-menu-action href="/worker/work-schedule" icon="perm_contact_calendar"
    >Grafik</app-menu-action
  >
  <app-menu-action href="/worker/settlements/chief" icon="docs"
    >Rozliczenia</app-menu-action
  >
  <mat-divider />
  <app-menu-action href="/worker/report" icon="docs">Raport</app-menu-action>

  <app-menu-action href="/worker/info" icon="docs">Moje Dane</app-menu-action>
</app-main-nav>
