.main-section, .header {
    display: flex;
    gap: 1rem;
    
}

.main-section {
    padding: 1rem;
}

.header {
    align-items: center;
    padding: 0.5rem;
}

.main-section {
    flex-direction: column;
}

.actions, .action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.actions{
    padding: 0.5rem;
}