
.months {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    gap: 1rem;
    scrollbar-width: thin;
    // scroll-snap-align: start;
    scroll-snap-type: y proximity;
    border-radius: 1rem;
    border-collapse: separate;
    border: 1px solid var(--mat-sys-outline-variant);
    font-size: var(--calendar-font-size);
}

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
    gap: 1rem;
    padding: 0 1rem;
    
}