.event-details-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    overflow: hidden;
}

.delete-button {
    background-color: var(--sys-error-container);
    color: var(--sys-on-error-container);
}



.color-field {
    width: 1rem;
    height: 1rem;
}

:host {
    display: block;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

mat-tab-group {
    height: 100%;
    overflow: auto;
}