<section class="worker-details-section">
  <header class="worker-details-header">
    <button mat-icon-button routerLink="/workers">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>Dane Pracownika</h2>
    <div class="details-actions">
      <button mat-flat-button>Edytuj</button>
      <button mat-flat-button class="delete-button">Usuń</button>
    </div>
  </header>
  <mat-divider></mat-divider>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Dane Personalne</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <span class="label">Imię:</span>
        <span>{{ worker.firstName }} </span>
      </p>
      <p>
        <span class="label">Nazwisko:</span>
        <span>{{ worker.lastName }} </span>
      </p>
      <p>
        <span class="label">Ksywa:</span>
        <span>{{ worker.nickname ?? "" }} </span>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Dane Kontaktowe</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <span class="label">Telefon:</span>
            <span><a class="data" href="tel:{{ worker.phone }}">{{ worker.phone }}</a></span>
          </p>
          <p>
            <span class="label">Email:</span>
            <span><a class="data" target="_blank" href="mailto://{{ worker.email }}">{{ worker.email }}</a></span>
          </p>
    </mat-card-content>
  </mat-card>
</section>
