<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [fixedInViewport]="mobileQuery.matches"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="!mobileQuery.matches"
    [disableClose]="!mobileQuery.matches"
    (click)="sideNavOnClick($event)"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
     <ng-content></ng-content>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Event Tools</span>

        <div class="user">
          <span>{{ username }}</span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changeTheme()">Zmień wygląd</button>
          <button mat-menu-item (click)="changePassword()">Zmień hasło</button>
          <button mat-menu-item (click)="about()">O aplikacji</button>
          <button mat-menu-item (click)="onLogout()">Wyloguj</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
