<app-form-base
  [backTo]="backTo()"
  [queryParams]="{ tab: '3' }"
  formIdName="rate-value-form"
  formTitle="Dokument"
  [canSend]="canSend()"
>
  <form
    [formGroup]="rateValueForm"
    class="form"
    id="rate-value-form"
    (submit)="handleSubmit()"
  >
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Stawka</mat-card-title>
      </mat-card-header>
      <mat-card-content class="form-group">
        @if (this.update()) {
        <h3>{{ getRateName() }}</h3>
        } @else {
        <mat-form-field appearance="outline">
          <mat-label>Rodzaj Stawki</mat-label>
          <mat-select
            formControlName="rateId"
            (selectionChange)="verifyRateType()"
          >
            @for (rt of rates(); track rt.id) {
            <mat-option [value]="rt.id">{{ rt.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        }
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Wartości</mat-card-title>
      </mat-card-header>
      <mat-card-content class="form-group">
        @if (rateValueForm.controls.value.enabled) {
        <mat-form-field appearance="outline">
          <mat-label>Stawka</mat-label>
          <input
            matInput
            type="number"
            formControlName="value"
            placeholder="Stawka"
          />
        </mat-form-field>
        } @if (rateValueForm.controls.perHourOvertimeValue.enabled) {
        <mat-form-field appearance="outline">
          <mat-label>Stawka za Nadgodzine</mat-label>
          <input
            matInput
            type="number"
            formControlName="perHourOvertimeValue"
            placeholder="Nadgodzina"
          />
        </mat-form-field>
        } @if (rateValueForm.controls.perHourValue.enabled) {
        <mat-form-field appearance="outline">
          <mat-label>Stawka Za godzinę</mat-label>
          <input
            matInput
            type="number"
            formControlName="perHourValue"
            placeholder="Godzinowa"
          />
        </mat-form-field>
        } @if (rateValueForm.controls.overtimeAddonValue.enabled) {
        <mat-form-field appearance="outline">
          <mat-label>Dodatek</mat-label>
          <input
            matInput
            type="number"
            formControlName="overtimeAddonValue"
            placeholder="Dodatek"
          />
        </mat-form-field>
        }
      </mat-card-content>
    </mat-card>
  </form>
</app-form-base>
