.report {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid var(--sys-outline);
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 1rem 0;
    font-size: 0.8rem;
}

.report-data {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

.logo {
    display: flex;
    height: 5rem;
}

.label {
    font-weight: bold;
    margin-right: 0.5rem;
}

.mat-mdc-card {
    height: 100%;
    overflow: hidden;
}

.mat-column-total {
    font-weight: bold;
}

.mat-column-addons {
    white-space: pre-wrap;
}

.summary,
.legend {
    border-top: 1px solid var(--sys-outline);
}

:host {
    display: block;
    box-sizing:border-box;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
}

.legend {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}


@media only screen and (min-width: 960px) {
    .logo {
        height: 10rem;
    }

    .header {
        grid-template-columns: auto 1fr;
    }

    .header-info {
        gap: 1rem;
        font-size: 1rem;
    }
}

