<h2 mat-dialog-title>Opis Dnia</h2>
<mat-dialog-content>
  <form [formGroup]="changeInfoForm" class="form" id="change-info">
    <mat-form-field appearance="outline">
      <mat-label>Opis dnia</mat-label>
      <input matInput formControlName="info" type="text" cdkFocusInitial />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" type="button">Anuluj</button>
  <button
    mat-button
    [mat-dialog-close]="{ info: null }"
    type="button"
    [disabled]="data.info === null || data.info?.length === 0"
  >
    Usuń
  </button>
  <button
    mat-button
    [mat-dialog-close]="changeInfoForm.value"
    [disabled]="!changeInfoForm.valid || !changeInfoForm.dirty"
    type="button"
  >
    Ok
  </button>
</mat-dialog-actions>
