<app-main-nav>
  <app-menu-action href="/warehouseman/calendar" icon="calendar_month"
    >Kalendarz</app-menu-action
  >

  <app-menu-action
    href="/warehouseman/work-schedule"
    icon="perm_contact_calendar"
    >Grafik</app-menu-action
  >
  <app-menu-action
    href="/warehouseman/car-schedule"
    icon="perm_contact_calendar"
    >Grafik Aut</app-menu-action
  >

  <mat-divider />

  <app-menu-action href="/warehouseman/info" icon="docs"
    >Moje Dane</app-menu-action
  >
</app-main-nav>
