<form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
  <div class="search-field">
    <mat-form-field class="" subscriptSizing="dynamic" appearance="outline">
      <mat-label>Szukaj</mat-label>
      <input
        type="search"
        matInput
        placeholder="Szukaj"
        formControlName="query"
      />
      <mat-hint>Minimum 3 znaki</mat-hint>
    </mat-form-field>
    <button mat-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button
      mat-fab
      type="button"
      (click)="onReset()"
      [disabled]="!searchForm.dirty"
    >
      <mat-icon>backspace</mat-icon>
    </button>
  </div>
  <div class="filters">
    @for(filter of inputFilters() | keyvalue ;track filter.key) {
    <mat-form-field appearance="outline" class="filter">
      <mat-label>{{ filter.value.name }}</mat-label>
      <mat-select
        formControlName="{{ filter.key }}"
        (selectionChange)="onFilterSet()"
      >
        <mat-option [value]="null"></mat-option>
        @for (item of filter.value.values; track item) {
        <mat-option [value]="item.value">{{ item.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    }
  </div>
</form>
