.search-form {
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

.search-field {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.filter {
    flex-grow: 1;
}