.search-form {
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

.search-field {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1rem;
}

.filter {
    flex-grow: 1;
}

@media only screen and (min-width: 960px) {
    .filter {
        flex-grow: 0;
    }
}