// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$event-tools-light-primary: mat.m2-define-palette(mat.$m2-green-palette, 700, 200, 900);
$event-tools-light-accent: mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$event-tools-light-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$event-tools-light-theme: mat.m2-define-light-theme((
    color: (
        primary: $event-tools-light-primary,
        accent: $event-tools-light-accent,
        warn: $event-tools-light-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
  ));

$event-tools-dark-primary: mat.m2-define-palette(mat.$m2-green-palette, 700, 200, 900);
$event-tools-dark-accent: mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$event-tools-dark-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$event-tools-dark-theme: mat.m2-define-dark-theme((
    color: (
        primary: $event-tools-dark-primary,
        accent: $event-tools-dark-accent,
        warn: $event-tools-dark-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
  ));
  
  // Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-themes($event-tools-dark-theme);

@media (prefers-color-scheme: light) {
    @include mat.all-component-colors($event-tools-light-theme);
}
/* You can add global styles to this file, and also import other style files */



$mat-lt-sm: "(max-width: 599px)";
$mat-lt-md: "(max-width: 959px)";
$mat-lt-lg: "(max-width: 1279px)";
$mat-lt-xl: "(max-width: 1919px)";
$mat-gt-xs: "(min-width: 600px)";
$mat-gt-sm: "(min-width: 960px)";
$mat-gt-md: "(min-width: 1280px)";
$mat-gt-xl: "(min-width: 1920px)";
$mat-xs: $mat-lt-sm;
$mat-sm: $mat-gt-xs and $mat-lt-md;
$mat-md: $mat-gt-sm and $mat-lt-lg;
$mat-lg: $mat-gt-md and $mat-lt-xl;
$mat-xl: $mat-gt-xl;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.grid {
    display: grid;
}

.side-content {
        display: flex;
        flex-direction: column;
        position: relative;
        max-height: calc(100% - 4rem);
        overflow: hidden;
}
