@use '@angular/material' as mat;
@use "./m3-theme";
@include mat.core();

:root {
    --xs-max-width: 600px;
    --sm-min-width: 601px;
    --sm-max-width: 767px;
    --md-min-width: 768px;
    --md-max-width: 991px;
    --lg-min-width: 992px;
    --lg-max-width: 1199px;
    --xl-min-width: 1200px;
}

html {
    @include mat.core-theme(m3-theme.$dark-theme);
    @include mat.all-component-themes(m3-theme.$dark-theme);
    @include mat.system-level-colors(m3-theme.$dark-theme);
    @include mat.system-level-typography(m3-theme.$dark-theme);

    
    @media (prefers-color-scheme: light) {
        @include mat.system-level-colors(m3-theme.$light-theme);
        @include mat.system-level-typography(m3-theme.$light-theme);
        @include mat.all-component-colors(m3-theme.$light-theme);
    }
}
/* You can add global styles to this file, and also import other style files */



$mat-lt-sm: "(max-width: 599px)";
$mat-lt-md: "(max-width: 959px)";
$mat-lt-lg: "(max-width: 1279px)";
$mat-lt-xl: "(max-width: 1919px)";
$mat-gt-xs: "(min-width: 600px)";
$mat-gt-sm: "(min-width: 960px)";
$mat-gt-md: "(min-width: 1280px)";
$mat-gt-xl: "(min-width: 1920px)";
$mat-xs: $mat-lt-sm;
$mat-sm: $mat-gt-xs and $mat-lt-md;
$mat-md: $mat-gt-sm and $mat-lt-lg;
$mat-lg: $mat-gt-md and $mat-lt-xl;
$mat-xl: $mat-gt-xl;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.grid {
    display: grid;
}

.side-content {
        display: flex;
        flex-direction: column;
        position: relative;
        max-height: calc(100% - 4rem);
        overflow: hidden;
}
