<app-loader [loading]="loading()" />

<div class="side-content">
  <app-action-toolbar title="Dane Imprezy" backTo="/admin/events">
    <button
      mat-flat-button
      routerLink="/admin/events/edit/{{ eventData().id }}"
    >
      Edytuj
    </button>
    <button mat-flat-button routerLink="/admin/events/{{ eventData().id }}/day">
      Harmonogram
    </button>
    <button mat-flat-button class="delete-button" (click)="removeEvent()">
      Usuń
    </button>
  </app-action-toolbar>
  <section class="event-details-section">
    <app-event-info [eventData]="eventData()" [tabIndex]="tabIndex">
      <app-event-files [eventId]="eventData().id" />
    </app-event-info>
  </section>
</div>
